@font-face {
    font-family: 'champagne';
    src: url('../font/champagne.ttf');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../font/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Exo2.0-Black';
    src: url('../font/Exo2.0-Black.otf');
}

@font-face {
    font-family: 'CaviarDreams';
    src: url('../font/CaviarDreams.ttf');
}

@font-face {
    font-family: 'CaviarDreams-Bold';
    src: url('../font/CaviarDreams_Bold.ttf');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-color: #1678AD;3*/
    background-image: url("../img/bg.jpg");
}

p, h2, h3, h5 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.contenu_page {
    padding-bottom: 4px;
}

@media screen and (min-height: 900px) {
    .contenu_page {
        position: absolute;
        width: 100%;
        top: calc(50% + 151px);
        transform: translate(0, calc(-50% - 85px));
    }
}

/* --------------------------------[ BANNIERE ]--------------------------------*/

.banniere_img {
    margin-bottom: 20px;
    height: 150px;
    background-color: rgb(50, 50, 50);
    box-shadow: 0px 2px 5px 0px;
    border-bottom: 1px solid #000000;
    background: url("../img/banniere.jpg") no-repeat center;
    background-size: cover;
    background-attachment: inherit;
}

/* --------------------------------[ ESPACE MEMBRE ]--------------------------------*/

.menu {
    margin-left: 20px;
    height: 680px;
    width: 248px;
    float: left;
    display: inline-block;
    border: 2px solid rgba(160, 160, 160, 1);
    background-color: rgba(80, 80, 80, 0.50);
    -webkit-box-shadow: 0px 11px 5px -6px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 11px 5px -6px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 11px 5px -6px rgba(50, 50, 50, 0.75);
}

img.notification_ico {
    position: absolute;
    margin-left: 25px;
    cursor: pointer;
}

img.avatar {
    margin-top: 20px;
    border: 2px solid rgb(160, 160, 160);
}

img.flag-membre {
    position: relative;
    top: 10px;
}

div#membre {
    text-align: center;
}

p#pseudo {
    line-height: 25px;
    color: white;
    font-family: 'Roboto-Thin';
    font-size: 20px;
    margin: 5px 0;
}

span.badge_lvl {
    position: relative;
    top: 13px;
    color: white;
    font-family: 'Exo2.0-Black';
}

span.progressbar_text {
    position: relative;
    color: white;
    top: -28px;
    font-size: 12px;
    font-family: 'Exo2.0-Black';
}

div.badge {
    background: url('../img/badge_lvl.png') no-repeat center;
    height: 50px;
}

p.points_text {
    position: relative;
    top: -10px;
    margin: 0;
    color: white;
    font-family: 'champagne';
}

button.bt-membre {
    border: 0;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    margin: 5px;
    transition: box-shadow ease .1s;
    font-family: 'champagne';
    font-size: 18px;
}

button.add-points {
    width: 100px;
    margin-bottom: 20px;
    box-shadow: 0 3px rgba(42, 130, 40, 0.75);
    background-color: rgb(78, 195, 47);
}

button.add-points:hover { box-shadow: 0 2px rgba(42, 130, 40, 0.75); transform: translateY(2px); }
button.add-points:active { box-shadow: 0 1px rgba(42, 130, 40, 0.75); transform: translateY(3px); }

button.send-points {
    width: 100px;
    margin-bottom: 20px;
    box-shadow: 0 3px rgba(29, 134, 156, 0.75);
    background-color: rgb(47, 171, 197);
}

button.send-points:hover { box-shadow: 0 2px rgba(29, 134, 156, 0.75); transform: translateY(2px); }
button.send-points:active { box-shadow: 0 1px rgba(29, 134, 156, 0.75); transform: translateY(3px); }

button.bt-badges {
    width: 130px;
    box-shadow: 0 3px rgba(179, 134, 17, 0.75);
    background-color: rgb(204, 155, 26);
}

button.bt-badges:hover { box-shadow: 0 2px rgba(179, 134, 17, 0.75); transform: translateY(2px); }
button.bt-badges:active { box-shadow: 0 1px rgba(179, 134, 17, 0.75); transform: translateY(3px); }

button.bt-messagerie {
    width: 130px;
    box-shadow: 0 3px rgba(179, 134, 17, 0.75);
    background-color: rgb(204, 155, 26);
}

button.bt-messagerie:hover { box-shadow: 0 2px rgba(179, 134, 17, 0.75); transform: translateY(2px); }
button.bt-messagerie:active { box-shadow: 0 1px rgba(179, 134, 17, 0.75); transform: translateY(3px); }

button.bt-boutique {
    width: 130px;
    box-shadow: 0 3px rgba(179, 134, 17, 0.75);
    background-color: rgb(204, 155, 26);
}

button.bt-boutique:hover { box-shadow: 0 2px rgba(179, 134, 17, 0.75); transform: translateY(2px); }
button.bt-boutique:active { box-shadow: 0 1px rgba(179, 134, 17, 0.75); transform: translateY(3px); }

button.bt-vote {
    width: 130px;
    box-shadow: 0 3px rgba(179, 134, 17, 0.75);
    background-color: rgb(204, 155, 26);
}

button.bt-vote:hover { box-shadow: 0 2px rgba(179, 134, 17, 0.75); transform: translateY(2px); }
button.bt-vote:active { box-shadow: 0 1px rgba(179, 134, 17, 0.75); transform: translateY(3px); }

button.bt-deconnexion {
    width: 180px;
    box-shadow: 0 3px rgba(130, 40, 40, 0.75);
    background-color: rgb(212, 70, 70);
}

button.bt-deconnexion:hover { box-shadow: 0 2px rgba(130, 40, 40, 0.75); transform: translateY(2px); }
button.bt-deconnexion:active { box-shadow: 0 1px rgba(130, 40, 40, 0.75); transform: translateY(3px); }

/* --------------------------------[ SLIDER SERVEUR INFOS ]--------------------------------*/

.contenu_serveur {
    margin-left: 290px;
    margin-right: 20px;
    height: 680px;
}

#bloc_central {
    margin-right: 270px;
    height: 680px;
    background-color: rgba(80, 80, 80, 0.50);
    border: 2px solid rgba(160, 160, 160, 1);
    -webkit-box-shadow: 0px 11px 5px -6px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 11px 5px -6px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 11px 5px -6px rgba(50, 50, 50, 0.75);
}

/* --------------------------------[ FOOTER ]--------------------------------*/

.pour_le_footer {
  min-height: 100%;
  margin-bottom: -50px; /* FOOTER : A CHANGER EN MEME TEMPS */
}

.pour_le_footer:after {
  content: "";
  display: block;
}

.footer {
    background-color: rgb(50, 50, 50);
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 9px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    inset 0px 0px 9px 2px rgba(0, 0, 0, 0.5);
    box-shadow:         inset 0px 0px 9px 2px rgba(0, 0, 0, 0.5);
}

.footer, .pour_le_footer:after {
    margin-top: 20px;
    height: 30px; /* FOOTER : A CHANGER EN MEME TEMPS */
}


.copyright {
    padding: 5px;
    font-family: 'champagne';
    color: white;
}

/* --------------------------------[ TEST SLIDER ]--------------------------------*/

#choose_server #buttons { 
  float: right;
  margin-top: 0;
  padding-left: 0;
  /*background-color: #959595;*/
  /*color: #888; */
  list-style:none;
  text-align: center;
  /*border: 2px solid rgba(160, 160, 160, 1);*/
}

#choose_server #buttons li {
  width: 250px;
}

#choose_server .infobox {
    margin-right: 270px;
    height: 680px;
    background-color: rgba(80, 80, 80, 0.50);
    border: 2px solid rgba(160, 160, 160, 1);
    display: none;
    -webkit-box-shadow: 0px 11px 5px -6px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 11px 5px -6px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 11px 5px -6px rgba(50, 50, 50, 0.75);
}

#choose_server .enabled {
  display: block;
}

#choose_server .infobox ul { padding-left:0px; }

span.valign {
  width: 120px;
  padding: 33px;
  vertical-align: middle;
  display: inline-block;
  line-height: 1.2;
  text-align: center;
  font-family: 'champagne';
  color: white;
}

#tab1, #tab2, #tab3, #tab4 { cursor: pointer; }
#tab2, #tab3, #tab4 { margin-top: -68px; }

img#tab4 {
    -webkit-box-shadow: 0px 11px 5px -6px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 11px 5px -6px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 11px 5px -6px rgba(50, 50, 50, 0.75);
}

div.scrollbar {
  overflow: auto;
  max-height: 590px;
}

div.scrollbar_main {
    margin: 10px;
    overflow: auto;
    max-height: 660px;
}

#etiquette {
    position: absolute;
    margin-top: 10px;
    right: 11px;
}

#etiquette2 {
    position: absolute;
    margin-top: -45px;
    right: 11px;
}

p.e_text {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    position: absolute;
    color: white;
    right: 15px;
    margin-top: 12px;
    font-family: 'champagne';
    font-size: 13px;
}

p.e_text2 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    position: absolute;
    color: white;
    right: 15px;
    margin-top: -43px;
    font-family: 'champagne';
    font-size: 13px;
}

p.e_text_maintenance {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    position: absolute;
    color: white;
    right: 15px;
    margin-top: 12px;
    font-family: 'champagne';
    font-size: 10px;
}

p.e_text2_maintenance {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    position: absolute;
    color: white;
    right: 14px;
    margin-top: -42px;
    font-family: 'champagne';
    font-size: 10px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
}

/* --------------------------------[ TEST TAB INSLIDER ]--------------------------------*/

ul#tabs {
    list-style-type: none;
    margin-left: 2px;
    padding: 0;
    font-family: 'champagne';
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

@media screen and (min-width: 1846px) {
    ul#tabs li { width: 25.04% !important; }
}

@media screen and (min-width: 2159px) {
    ul#tabs li { width: 25.03% !important; }
}

@media screen and (min-width: 2680px) {
    ul#tabs li { width: 25.02% !important; }
}

@media screen and (max-width: 1363px) {
    ul#tabs li { width: 25.08% !important; }
}

ul#tabs li {
    display: inline-block;
    background-color: rgba(82, 82, 82, 0.5);
    border-bottom: solid 2px rgba(160, 160, 160, 1);
    width: 25.05%;
    height: 50px;
    margin-bottom: 4px;
    margin-left: -2px;
    margin-right: -2px;
    font-weight : bolder;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
}

ul#tabs li:hover { background-color: rgba(66, 65, 65, 0.5); border-bottom: solid 2px white; }
ul#tabs li.active { background-color: rgba(66, 65, 65, 0.5); border-bottom: solid 2px rgba(225, 42, 42, 0.69); color: white; }

ul#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#tab li {
    display: none;
    padding: 10px;
}

ul#tab li.active { display: block; }

ul#tab li h2 {
    font-weight: 400;
    margin-bottom: 30px;
    padding-bottom: 5px;
}

/* --------------------------------[ MENU - CONNEXION ]--------------------------------*/

.connect_text{
    color: white;
    font-weight: bolder;
    text-align: center;
    margin: 15px 40px;
    font-family: 'champagne';
    font-size: 24px;
}

.connect_pseudo_input, .connect_mdp_input, .connect_bouton, .register_bouton {
    font-family: 'champagne';
    font-size: 18px;
}

.connect_pseudo_input, .connect_mdp_input {
    margin-left: 20px;
    margin-top: 5px;
}

.connect_bouton, .register_bouton {
    margin-top: 10px;
    margin-bottom: 10px;
}

.connexion input[type="submit"], .connexion input[type="button"] {
    border: 0;
    width: 110px;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    transition: background .3s;
    -webkit-transition: background .3s;
    outline: none;
}

.connexion input[type="submit"] {
    box-shadow: 0 3px rgba(14, 73, 103, 0.75);
    background-color: rgb(29, 161, 226);
    margin-left: 10px;
    transition: box-shadow ease .1s;
}

.connexion input[type="submit"]:hover {
    box-shadow: 0 2px rgba(14, 73, 103, 0.75);
    transform: translateY(2px);
}

.connexion input[type="submit"]:active {
    box-shadow: 0px 0px rgba(14, 73, 103, 0);
    transform: translateY(3px);
}

.connexion input[type="button"] {
    box-shadow: 0 3px rgba(24, 80, 6, 0.75);
    background-color: rgb(49, 171, 11);
    float: right;
    margin-right: 10px;
    transition: box-shadow ease .1s;
}

.connexion input[type="button"]:hover {
    box-shadow: 0 2px rgba(24, 80, 6, 0.75);
    transform: translateY(2px);
}

.connexion input[type="button"]:active {
    box-shadow: 0px 0px rgba(24, 80, 6, 0);
    transform: translateY(3px);
}

#inscription_toggle input[type="text"], .connexion input[type="text"], .connexion input[type="password"], #inscription_toggle input[type="password"] {
    background: white;
    margin-bottom: 8px;
    border-radius: 12px;
    border: 1px solid #ccc;
    border: 2px solid transparent;
    padding: 12px;
    padding-left: 45px;
    width: 145px;
    color: #555;
    outline: none;
    transition: border-color ease .3s;
}

#inscription_toggle input[type="text"]:focus, #inscription_toggle input[type="password"]:focus, .connexion input[type="text"]:focus, .connexion input[type="password"]:focus { border-color: rgb(27, 136, 189); }

div.txt {
    position: relative;
}

div.txt img {
    position: absolute;
    left: 34px;
    top: 18px;
    width: 20px;
}

/* --------------------------------[ MENU - INSCRIPTION ]--------------------------------*/

.inscription {
    color: white;
    font-weight: bolder;
    text-align: center;
    margin: 15px 40px;
    font-family: 'champagne';
    font-size: 24px;
}

.inscription_mdp_confirm::-webkit-input-placeholder {
    font-size: 14px;
}

.inscription_mdp_confirm::-moz-placeholder {
    font-size: 14px;
}

.inscription_mdp_confirm:-ms-input-placeholder {
    font-size: 14px;
}

.inscription_pseudo, .inscription_mdp, .inscription_mdp_confirm {
    font-family: 'champagne';
    font-size: 18px;
    margin-left: 20px;
    margin-top: 5px;    

}

.inscription_confirm {
    border: 0;
    width: 228px;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 3px rgba(130, 40, 40, 0.75);
    background-color: rgb(212, 70, 70);
    margin-right: 10px;
    transition: box-shadow ease .1s;
    font-family: 'champagne';
    font-size: 18px;
}

.inscription_confirm:hover {
    box-shadow: 0 2px rgba(130, 40, 40, 0.75);
    transform: translateY(2px);
}

.inscription_confirm:active {
    box-shadow: 0px 0px rgba(130, 40, 40, 0);
    transform: translateY(3px);
}


/* ---------------- [ TEST ALERT POPUP] ------------------- */

.alert {
    padding: 15px;
    border-bottom: 2px solid rgba(160, 160, 160, 1);
    border-top: 2px solid rgba(160, 160, 160, 1);
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
    color: #B31F1C;
    background-color: rgba(255, 255, 255, 0.79);
    font-family: 'champagne';
    font-size: 16px;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

.close {
    float: right;
    margin-right: -12px;
    margin-top: -15px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .6;
    text-decoration: none;
    font-family: sans-serif;
}

.alert-espace-membre {
    position: absolute;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    top: 10px;
    right: 0;
    left: 0;
}

progress {
   display: block;
   width: 200px;
   margin: 10px auto;
   border: 0 none;
   border-radius: 14px;
   background: transparent;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5),
               0px 1px 0px rgba(255,255,255,0.2);
}

progress::-moz-progress-bar {
    top: 2px;
    background-image:
        -moz-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%),
        -moz-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
        -moz-linear-gradient(left, #09c, #f44);
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius: 12px;
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3); 
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    top: 2px;
    background-image:
        -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%),
        -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, #09c, #f44);
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius: 12px;
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3); 
}

/* ---------------- [POPUP] ------------------- */

.modal-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    transition: .4s;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
}

.modal-content {
    max-width: 800px;
    /*width: 100%;*/
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    padding: 20px;
    margin: 0 auto;
    z-index: 10;
    background: url('../img/background-popup.jpg') no-repeat;
    background-size: cover;
    border-radius: 5px;
    color: #fff;
    -webkit-box-shadow: 0px 0px 19px 2px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px 0px 19px 2px rgba(0,0,0,0.67);
    box-shadow: 0px 0px 19px 2px rgba(0,0,0,0.67);
}

.modal-opened {
    opacity: 1;
    visibility: visible;
}

.modal-close-button {
    position: relative;
    color: rgb(204, 204, 204);
    top: -20px;
    right: -20px;
    font-size: x-large;
    float: right;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.scrollbar-addpoints {
    max-height: 330px;
    overflow: auto;
    text-align: center;
}

#bt-paypal {
    bottom: 20px;
    position: absolute;
    left: 48px;
    margin-top: 0;
}

.bt-retour {
    position: absolute;
    color: rgb(187, 187, 187);
    font-family: cursive;
    top: 5px;
    left: 5px;
    float: left;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

div.box-p {
    margin: 15px;
    height: 300px;
    width: 200px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    background-color: rgba(29, 134, 156, 0.62);
    color: white;
    text-align: center;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(8, 8, 8, 0.6);
    -moz-box-shadow: 0px 0px 7px 2px rgba(8, 8, 8, 0.6);
    box-shadow: 0px 0px 7px 2px rgba(8, 8, 8, 0.6);
}

h2.title-p {
    padding: 15px 0;
    font-family: 'CaviarDreams';
    font-size: 18px;
    color: rgb(226, 160, 35);
    text-shadow: 1px 1px 2px rgba(21, 21, 21, 0.59);
}

.price-text {
    padding: 10px 0;
    font-family: 'CaviarDreams-Bold';
    text-shadow: 1px 1px 2px #212121;
}

img.img-p {
    width: 100px;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    border-radius: 50px;
}


button.bt-starpass {
    border: 0;
    padding: 8px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    margin-right: 2px;
    font-family: 'champagne';
    font-size: 18px;
    width: 100px;
    height: 39px;
    background-color: rgb(212, 70, 70);
}

.button-paypal {
    bottom: 55px;
    position: absolute;
}

/* ---------------- [POPUP BADGES] ------------------- */

div.box-badge {
    margin: 15px;
    height: 250px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(29, 134, 156, 0.62);
    -webkit-box-shadow: 0px 0px 7px 2px rgba(8, 8, 8, 0.6);
    -moz-box-shadow: 0px 0px 7px 2px rgba(8, 8, 8, 0.6);
    box-shadow: 0px 0px 7px 2px rgba(8, 8, 8, 0.6);
}

.badge_content {
    top: 10%;
    max-width: 1000px;
}

.title-popup {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px #212121;
    font-family: 'champagne';
    margin-bottom: 10px;
}

.scrollbar-badge {
    height: 560px;
    overflow: auto;
    text-align: center;
}

@media screen and (max-height: 768px) {
    .scrollbar-badge { max-height: 420px !important; }
    .badge_content { top:5% !important; }
}

ul#tabs-badge {
    list-style-type: none;
    text-align: center;
    font-family: 'champagne';
    color: white;
    margin: 0;
    -webkit-padding-start: 0;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
}

ul#tabs-badge li {
    display: inline-block;
    border-bottom: solid 2px rgba(160, 160, 160, 1);
    height: 50px;
    width: 24%;
    margin-bottom: 4px;
    margin-left: -2px;
    margin-right: -2px;
    padding: 0;
    font-weight: bolder;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
}

ul#tabs-badge li:hover { border-bottom: solid 2px rgba(255, 255, 255, 0.68); }
ul#tabs-badge li.active { border-bottom: solid 2px white; }

ul#tab-badge {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#tab-badge li {
    display: none;
    padding: 10px;
}

ul#tab-badge li.active { display: block; }

h3.title-badge {
    padding: 10px 0;
    font-family: 'CaviarDreams';
    font-size: 18px;
    color: rgb(226, 160, 35);
    text-shadow: 1px 1px 2px rgba(21, 21, 21, 0.59);
}

img.img-badge {
    margin: 6px 0;
    width: 96px;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    border-radius: 50px;
}

p.desc-badge {
    margin: 0 10px;
    color: rgb(222, 222, 222);
    font-family: 'champagne';
}

p.etat-badge {
    font-size: 18px;
    font-family: 'champagne';
    margin-top: 18px;
}

.uk-progress {
    background: rgba(93, 93, 93, 0.68);
}

.uk-progress-bar {
    background: #BD990F;
}

.uk-progress-small {
    height: 6px;
    margin: 10px;
}

/* ---------------- [POPUP ENVOYER POINTS] ------------------- */

.global-points {
    vertical-align: top;
}

.send-p_right {
    text-align: center;
    margin-top: 10px;
}

.send-p_left {
    float: left;
    min-width: 300px;
}

.send-p_verticalbar {
    border-left: 2px solid rgba(165, 165, 165, 0.55);
    height: 290px;
    margin-top: 10px;
    float: left;
}

h3.subtitle {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    font-family: 'CaviarDreams';
    text-shadow: 1px 1px 2px #212121;
}

.historique_subtitle {
    font-size: 20px;
}

.sendPoints_subtitle {
    font-size: 18px;
}

p.historique_points {
    font-family: 'CaviarDreams';
    font-size: 14px;
    margin-top: 20px;
}

.scrollbar-s_points {
    overflow: auto;
    max-height: 250px;
    text-align: center;
    margin-right: 10px;
}

.send-p_input {
    background: white;
    margin-bottom: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border: 2px solid transparent;
    padding: 12px;
    width: 145px;
    color: #555;
    outline: none;
    transition: border-color ease .3s;
}

.send-p_input:focus { border-color: rgb(20, 20, 20); }

.send-p_text {
    font-family: 'CaviarDreams';
    font-size: 14px;
    margin: 10px 0;
}

.send-p_button {
    border: 0;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    margin-top: 15px;
    transition: box-shadow ease .1s;
    font-family: 'champagne';
    font-size: 18px;
    width: 150px;
    box-shadow: 0 3px rgba(29, 134, 156, 0.75);
    background-color: rgb(47, 171, 197);
}

.send-p_button:hover { box-shadow: 0 2px rgba(29, 134, 156, 0.75); transform: translateY(2px); }
.send-p_button:active { box-shadow: 0 1px rgba(29, 134, 156, 0.75); transform: translateY(3px); }

.del-notif_button {
    border: 0;
    padding: 8px;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    margin-top: 15px;
    transition: box-shadow ease .1s;
    font-family: 'champagne';
    font-size: 18px;
    width: 200px;
    box-shadow: 0 3px rgba(181, 55, 55, 0.75);
    background-color: rgb(214, 65, 65);
}

.del-notif_button:hover { box-shadow: 0 2px rgba(181, 55, 55, 0.75); transform: translateY(2px); }
.del-notif_button:active { box-shadow: 0 1px rgba(181, 55, 55, 0.75); transform: translateY(3px); }

.scrollbar-notif {
    overflow: auto;
    max-height: 280px;
}

div.box-vote {
    margin: 10px;
    height: 200px;
    width: 170px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    background-color: rgba(29, 134, 156, 0.62);
    color: white;
    text-align: center;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(8, 8, 8, 0.6);
    -moz-box-shadow: 0px 0px 7px 2px rgba(8, 8, 8, 0.6);
    box-shadow: 0px 0px 7px 2px rgba(8, 8, 8, 0.6);
}

.radial-progress {
    margin: 10px auto !important;
}

.vote_content {
    text-align: center;
}

.subtitle-vote {
    padding: 10px 0;
    font-family: 'CaviarDreams';
    text-shadow: 1px 1px 2px #212121;
}

.desc-vote {
    font-family: 'CaviarDreams';
    text-align: center;
    margin: 10px 0;
}

.img-vote-bt {
    background: url('../img/vote.png');
    width: 120px;
    margin: 10px auto;
    height: 120px;
    border: none;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    border-radius: 80px;
    outline: none;
    cursor: pointer;
}

.img-vote-bt:hover {
    -webkit-box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.6);
    box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.6);
}